input{
border-radius: 20px;
border-color: aqua;
text-align: center;
border-style: solid;
color: aqua;
margin-bottom: 10px;
}
#plus{
border-radius: 50%;
color: aliceblue;
background-color: aquamarine;
border-style:solid;
border-color: rgb(83, 170, 141);
}
#create_account{
    background-color: rgb(141, 157, 243);
    color: aliceblue;
    text-align: center;
    width: 100px;
    height: 15px;
    font-size: 7px;
    box-shadow: 1px 2px 1px black;
    border: 0px;
}